body {
background-color: #fcfcfc;
font-family: Verdana;
}

#icon {
    float: left;
}

h1 {
	color: #c42700;
    font-weight: bold;
}

h2, h3 {
    font-weight: bold;
}

#sb.nav-tabs > li > a {
  color: #ffffff;
  background-color: #951a00;
  margin-right: 5px;
    margin-top: 5px;
  padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

#sb.nav-tabs > li.active > a {
  color: #ffffff;
  background-color: #E62700;
}

.nav-tabs > li > a:hover{
  color: #ffffff;
  background-color: #E62700 !important;
}

a, a:link, a:hover, a:visited, a:active{
	color: #951a00
}

blockquote {
font-family: Georgia, serif;
font-style: italic;
line-height: 1.45;
position: relative;
color: #383838;
}

blockquote cite {
color: #999999;
display: block;
}

blockquote cite:before {
content: "\2014 \2009";
}